 <form class={{cssClass}} autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexrow display-settings-titles">
        <label class="flex1" style="text-align: center;"><strong>{{localize "combat-hp-display.hpDisplaySettings.inCombat"}}</strong></label>
    </div>
    <div class="flexcol">
        {{> "modules/combat-hp-display/templates/partials/tokenDisplayValues.hbs" 
            type="friendly" 
            combatSelected=combat.friendly
        }}
        {{> "modules/combat-hp-display/templates/partials/tokenDisplayValues.hbs" 
            type="neutral" 
            combatSelected=combat.neutral   
        }}
        {{> "modules/combat-hp-display/templates/partials/tokenDisplayValues.hbs" 
            type="hostile" 
            combatSelected=combat.hostile 
        }}
    </div>
    <footer class="sheet-footer flexrow">
        <button id="save"><i class="far fa-save"></i>Save Changes</button>
    </footer>
 </form>