.combat-hp-display {
    .flex-end {
        display: flex;
        align-items: flex-end;
    }

    .flex-center {
        display: flex;
        align-items: center;
    }
    
    .convert-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer {
        margin-top: 8px;
    }
    
    .display-settings-titles {
        margin-left: 28px;
        &.barbrawl {
            margin-right: 30px;
        }
    }
}