.combat-hp-display .flex-end {
  display: flex;
  align-items: flex-end;
}
.combat-hp-display .flex-center {
  display: flex;
  align-items: center;
}
.combat-hp-display .convert-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.combat-hp-display .display-settings-titles.barbrawl {
  margin-right: 30px;
}
.combat-hp-display.settings-menu .settings-menu-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.combat-hp-display.settings-menu .converter-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 4px;
}
.combat-hp-display.settings-menu .converter-grid .token-display-icon {
  font-size: 22px;
  margin-right: 0px;
}
.combat-hp-display.settings-menu .converter-grid .token-display-icon.friendly.selected {
  text-shadow: 0px 0px 2px green;
}
.combat-hp-display.settings-menu .converter-grid .token-display-icon.neutral.selected {
  text-shadow: 0px 0px 2px gold;
}
.combat-hp-display.settings-menu .converter-grid .token-display-icon.hostile.selected {
  text-shadow: 0px 0px 2px red;
}
.combat-hp-display.settings-menu .display-bar-settings-grid {
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 4px;
}
.combat-hp-display.settings-menu .display-bar-settings-grid.bar-brawl {
  grid-template-columns: 0fr 1fr 1fr;
}
.combat-hp-display.settings-menu .display-bar-settings-grid .token-display-icon {
  font-size: 24px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.combat-hp-display.settings-menu .settings-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.combat-hp-display.settings-menu .settings-column .convert-button {
  height: 32px;
}
.combat-hp-display.settings-menu footer {
  display: flex;
  align-items: center;
  gap: 4px;
}
.combat-hp-display.settings-menu footer > * {
  flex: 1;
}
